<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Fin de réservation</title>
</head>
<body>
<h1>Fin de Réservation</h1>
<p>Bonjour <span th:text="${name}">Nom</span>,</p>
<p>Nous vous confirmons la clôture de votre réservation qui avait pour avion : <span th:text="${aircraftName}">Nom de l'avion</span></p>
<p>Date de départ : <span th:text="${borrowingDate}">Date de départ</span></p>
<p>Date de retour : <span th:text="${returnDate}">Date de retour</span></p>
<p>Après ce vol, votre compteur d'heures de vol personnel est à : <span th:text="${hours}">Nombre d'heures</span></p>
<p>A bientôt !</p>

</body>
</html>