<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Modification de réservation</title>
</head>
<body>
<h1>Modification de réservation</h1>
<p>Bonjour <span th:text="${name}">Nom</span>,</p>
<p>Nous vous confirmons la modification de votre réservation avec pour avion <span th:text="${aircraftName}">Nom de l'avion</span></p>
<p>Date de départ : <span th:text="${borrowingDate}">Date de départ</span></p>
<p>Date de retour : <span th:text="${returnDate}">Date de retour</span></p>
<p>N'oubliez pas de faire le plein avant de rendre l'avion</p>
<p>BON VOL !</p>

</body>
</html>