<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Livres des Bibliothèques d'Angers</title>
  </head>

  <body>
    <div class="container-fluid px-0">
      <div th:replace="Header :: header"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="border-secondary shadow jumbotron">
              <center><form action="/books" class="form-inline col-lg-5 col-xl-6 mr-auto px-0" method="GET">
                <input class="form-control col-12 col-lg-7 col-xl-8 mb-2 mr-sm-2 mb-lg-0" type="text" name="query" placeholder="Titre, auteur,..."
                       aria-label="Search" />
                <button class="btn btn-success mb-2 mr-2 mb-lg-0" type="submit">
                  Rechercher
                </button>
              </form>
                <form class="form-inline my-lg-0" form-method="post" th:action="@{/logout}">
                </form></center>
              <div>
            </div>
          </div>
        </div>
      </div>


        <div class="row">
      <div th:each="book : ${books}" class="col-12 my-4 col-lg-6" >
        <div class="card h-100">
          <div class="card-header">
            <h2 th:text="${book.title + ' - ' + book.authorFirstName + ' ' + book.authorLastName}">Title and author</h2>
          </div>
          <div class="card-body row">
            <div class="col-12 col-md-4 my-auto text-center">
              <img src="pictureURL" th:attr="src=${book.pictureURL}" class="card-img rounded mb-2 mb-md-0 " style="max-width: 300px;" alt="..."/>
            </div>
            <div class="col-12 col-md-8 my-2">
              <h6 th:text="${'Publication: ' + book.publicationDate}"></h6>
              <h6>Synopsis:</h6>
              <p class="card-text text-justify overflow-auto" th:text="${book.synopsis}"></p>
              <button type="button" class="booksAvailabilityButton btn btn-info"  th:attr="id=${book.id + '_bookId'}" data-toggle="modal" data-target="#availableCopiesModal">
                Disponibilités
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>


    <!-- Modal -->
    <div
      class="modal fade"
      id="availableCopiesModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="availableCopiesModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="availableCopiesModalLabel">
              Disponibilités
            </h5>
            <button
                    aria-label="Close"
                    class="close"
                    data-dismiss="modal"
                    type="button"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <caption hidden>
                Disponibilités
              </caption>
              <tr>
                <th class="col-auto text-center text-nowrap" scope="col">Bibliothèque</th>
                <th class="col-auto text-center text-nowrap" scope="col">Copies disponibles</th>
                <div sec:authorize="isAuthenticated()">
                <th class="col-auto text-center text-nowrap" scope="col">Date de retour</th>
                <th class="col-auto text-center text-nowrap" scope="col">Réservations</th>
                <th class="col-auto text-center text-nowrap" scope="col"></th>
                </div>
              </tr>
              <tr
                      class=""
                      th:attr="class=${'bookId' + availableCopie.getId().getBookId() + ' copy'}"
                      id=""
                      th:each="availableCopie : ${availableCopies}"
              >
                <td
                        class="text-center"
                        th:text="${availableCopie.getLibrary().getName()}"
                ></td>
                <td class="text-center">
                  <span th:if="${availableCopie.getReservationCount() > 0}">0</span>
                  <span th:text="${availableCopie.getAvailableQuantity()}"
                        th:if="${availableCopie.getReservationCount() == 0}"></span>
                </td>
                <td class="text-center">
                            <span th:if="${availableCopie.getAvailableQuantity() == 0 or availableCopie.getReservationCount() > 0}">
                                <p th:text="${availableCopie.getNearestReturnDate().toString()}"></p>
                            </span>
                </td>
                <td class="text-center">
                            <span th:if="${availableCopie.getAvailableQuantity() == 0 or availableCopie.getReservationCount() > 0}">
                                <span th:text="${availableCopie.getReservationCount()} + '/' + ${availableCopie.getOwnedQuantity() * 2}"></span>
                            </span>
                </td>
                <td class="text-center"
                >

                            <span th:if="${availableCopie.getBookCanBeReserved() and (availableCopie.getAvailableQuantity() == 0 or availableCopie.getReservationCount() > 0)}">
                                <div sec:authorize="isAuthenticated()">
                                    <span th:if="${userReservationList.contains(availableCopie.getId().getBookId())}">
                                        Livre réservé
                                    </span>
                                    <span th:if="${userActiveBorrowList.contains(availableCopie.getId().getBookId())}">
                                        Livre en cours d'emprunt
                                    </span>
                                    <span th:if="${!userActiveBorrowList.contains(availableCopie.getId().getBookId()) and !userReservationList.contains(availableCopie.getId().getBookId())}">
                                        <form th:action="@{/reserve}" method="post">
                                        <input
                                                hidden
                                                th:value="${availableCopie.getBook().getId()}"
                                                type="text"
                                                name="bookId"
                                                id="bookId"
                                        />
                                        <input
                                                hidden
                                                th:value="${availableCopie.getLibrary().getId()}"
                                                type="text"
                                                name="libraryId"
                                                id="libraryId"
                                        />
                                          <button class="btn btn-info" type="submit">Réserver</button>
                                    </form>
                                    </span>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a class="btn btn-info" th:href="@{/connexion}" role="button">Réserver</a>
                                </div>
                            </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function() {
        $(".booksAvailabilityButton").click(function() {
          $(".copy").hide();
          var bookId =
            "bookId" +
            $(this)
              .attr("id")
              .split("_", 1);
          $("." + bookId).show();
        });
      });
    </script>
  </body>
</html>
