<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />

    <title>Formulaire d'ajout d'heures</title>
</head>

<body>
<div class="container-fluid px-0">
    <div th:replace="Header :: header"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div sec:authorize="isAuthenticated()" class="border-secondary shadow jumbotron">
                                <div class="card-body">
                                <h2 class="mb-2">Veuillez renseigner les heures de vols lors de la réservation</h2>
                                <form class="form-row align-items-end mt-4" th:action="@{/saveReservation}" th:object="${reservationDto}" method="post">
                                    <input type="hidden" th:field="${reservationDto.registeredUserId}"/>
                                    <input type="hidden" th:value="*{aircraftDto == null}"/>
                                    <div class="col-md-4 mb-3">
                                        <label for="borrowingDate">Date d'emprunt</label>
                                        <input type="date" class="form-control" name="borrowingDate" id="borrowingDate" th:field="*{borrowingDate}" required/>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="returnDate">Date de retour</label>
                                        <input type="date" class="form-control" name="returnDate" id="returnDate" th:field="*{returnDate}" required/>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="availableAircraft"></label><br>
                                        <button type="submit" class="form-control btn btn-warning text-center font-weight-bold" name="availableAircraft" id="availableAircraft">Avions disponibles</button>
                                    </div>
                                </form>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
</div>
    </div>
</div>
</div>
</body>
</html>
