<!doctype html>
<html lang="fr" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />

    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            rel="stylesheet"
    />


    <title>Aéroclub Passion</title>

</head>

<body>

<!-- Header -->
<div th:replace="Header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border-secondary shadow jumbotron bg-info text-white text-center font-weight-bold">
                <h1>Bienvenue chez Aéroclub Passion !</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4 col-lg-4" sec:authorize="isAuthenticated()">
            <div class="border-secondary shadow card h-60">
                <img alt="mon_aérodrome" class="card-img-top" height="200" src="http://localhost/aeroclubp12/monaerodrome.png">
                <div class="card-body d-flex flex-column">
                    <a class="stretched-link btn btn-warning mt-auto" href="/flyingClub" role="button">Mon aérodrome</a>
                </div>
            </div>
        </div>


        <div class="col-12 my-4 col-lg-4" sec:authorize="isAuthenticated()">
            <div class="border-secondary shadow card h-60">
                <img alt="reservation " class="card-img-top" height="200" src="http://localhost/aeroclubp12/reservation.png">
                <div class="card-body d-flex flex-column">
                    <a class="stretched-link btn btn-warning mt-auto" href="/allReservations" role="button" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Réservations</a>
                    <a class="stretched-link btn btn-warning mt-auto" href="/reservations" role="button" th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">Réservations</a>
                </div>
            </div>
        </div>


        <div class="col-12 my-4 col-lg-4" sec:authorize="isAuthenticated()">
            <div class="border-secondary shadow card h-60">
                <img alt="atelier" class="card-img-top" height="200" src="http://localhost/aeroclubp12/atelier.jpg">
                <div class="card-body d-flex flex-column">
                    <a class="stretched-link btn btn-warning mt-auto" href="/workshop" role="button">Atelier</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div
        style="max-width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;"
>
    <div class="card" sec:authorize="isAnonymous()">
        <div class="card-header"><i class="fa fa-user"></i> <h2 class="text-center">Connexion</h2></div>
        <div class="card-block" style="padding: 24px;">
            <form method="post" name="f" th:action="@{/connexion}">
                <fieldset>
                    <!-- Thymeleaf + Spring Security error display -->
                    <div class="alert alert-danger" th:if="${param.error}">
                        Adresse email / mot de passe invalide.
                    </div>

                    <div class="alert alert-success" th:if="${param.logout}">
                        Vous avez été déconnecté.
                    </div>

                    <!-- Login Controls -->
                    <div class="form-group">
                        <label for="txtUsername">Email</label>
                        <input
                                class="form-control"
                                id="txtUsername"
                                name="username"
                                placeholder="Email"
                                type="text"
                        />
                    </div>

                    <div class="form-group">
                        <label for="txtPassword">Mot de passe</label>
                        <input
                                class="form-control"
                                id="txtPassword"
                                name="password"
                                placeholder="Mot de passe"
                                type="password"
                        />
                    </div>

                    <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkRememberMe" name="checkRememberMe">
                    <label class="form-check-label" for="checkRememberMe">Remember me?</label>
                  </div> -->

                    <!-- Login Button -->
                    <div class="form-actions text-center" style="margin-top: 12px;">
                        <button class="btn btn-success" type="submit">
                            Se connecter
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
></script>
<script
        crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
></script>
<script
        crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
></script>
</body>
</html>

